.badge {
  font-size: 0;
  display: flex;
 /*  white-space: nowrap; */
}

.badge>span {
  font-size: 0.5rem;
  vertical-align:5%;
  padding: 4px 8px 4px 8px;

}

.badge>.label {
  color: #ffffff;
  background-color: #5c5c5c;
  border-radius: 5px;
  height: 15px;
 
}

.html,
.time-container {
 /* display: -webkit-flex;  */
  background-color: skyblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 15px;
}


#day,#hour,#min,#sec {
  font-size: 5px;
  color: red;
  font-weight: bold;
}